#scena {
    position: relative;
}

#okvir {
    position: absolute;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    top: 0; left: 0; right: 0; bottom: 0;
}

#poruka {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
