.contentOfTable {
    font-style: normal;
    color: black;
}

#TabelaNaslov h1{
    color: #04619f;
    font-weight: bold;
}

#tabelaUposlenika {
    margin-top: 1%;
}

th {
    text-align: center !important;
    color: black !important;
  }

td {
    color: black !important;
}