.artboard {
    /*display: flex;*/
    float: right;
    margin-right: 5%;
    margin-top: -50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    /*position: absolute;
    top:40px;
    right:140px;*/
    color: #04619f;
  }
    @keyframes ringing {
       0%, 100% {
           transform: rotate(0);
      }
       20% {
           transform: rotate(10deg);
      }
       40%, 80% {
           transform: rotate(-6deg);
      }
       60% {
           transform: rotate(6deg);
      }
  }
   @keyframes clapp {
       0%, 100% {
           transform: translate(6px, 18px) rotate(0);
      }
       20% {
           transform: translate(10px, 18px) rotate(-10deg);
      }
       40% {
           transform: translate(2px, 18px) rotate(10deg);
      }
       60% {
           transform: translate(9px, 18px) rotate(-8deg);
      }
       80% {
           transform: translate(3px, 18px) rotate(8deg);
      }
  }
   .notification-bell {
       animation-timing-function: ease;
       cursor: pointer;
       transform-origin: 50% 0%;
       position: relative;
       transition: 200ms ease-in-out color;
       user-select: none;
     height: 15px;
  }
   .notification-bell:after {
       background-color: lightcoral;
       border: 2px solid;
       border-radius: 11px;
       content: attr(data-count);
       color: black;
       display: block;
       font-size: 10px;
       font-family: helvetica;
       height: 15px;
       line-height: 8px;
       min-width: 9px;
       padding: 4px;
       position: absolute;
       right: 0px;
       text-align: center;
       top: 3px;
       transition: 100ms ease-in-out all;
  }
   .notification-bell[data-count='0']:after {
       border: 0 !important;
       clip: rect(0 0 0 0) !important;
       height: 1px !important;
       margin: -1px !important;
       overflow: hidden !important;
       padding: 0 !important;
       position: absolute !important;
       width: 1px !important;
  }
   .notification-bell.is-muted:after {
       content: '';
       color: transparent;
       height: 2px;
       min-width: 0;
       padding: 2px;
       right: 4px;
       top: 4px;
       width: 2px;
  }
  
   .notification-bell:hover:after {
       background-color: red;
  }
   .notification-bell.is-animating {
       animation: ringing 800ms;
  }
   .notification-bell.is-animating .notification-bell__clapper {
       animation: clapp 800ms;
  }
   .notification-bell .notification-bell__bow, .notification-bell .notification-bell__clapper {
       fill:  #04619f;
  }
   .notification-bell svg {
       overflow: visible !important;
  }
   .notification-bell__clapper {
       animation-timing-function: inherit;
       transform: translate(6px, 18px) rotate(0);
       transform-origin: inherit;
  }

#taboviZahtjeva .ant-tabs-nav {
    width: 100%;
}
  
#taboviZahtjeva .ant-tabs-nav :first-child  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#taboviZahtjeva .card-container .ant-tabs-tab, #taboviZahtjeva .card-container .ant-tabs-tab-active {
    display: block;
    font-weight: 600;
}
