.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#siderGlavni {
  text-align: center;
}

.subMenuItem {
  text-align: left;
}

#listaNotifikacija {
  text-align: left;
  overflow-y:scroll;
  height: 250px;
}

#components-dropdown-dmo-dropdown-button {
  margin-right: 2%;
}


#listaProizvoda {
  position: relative;
  margin-top: 2%;
  margin-bottom: 5%;
}

#naslovNotifikacije h1 {
  color: #04619f;
  font-weight: bold;
}

#ikonaNotifikacije {
  font-size: 2em;
  padding-right: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#TabelaNaslov {
  color: #04619f;
  font-weight: bold;
}

.ant-col, .ant-col-8, .ant-form-item-label {
  width: 20px;
}

#karticaPodaci {
  width: 35%;
  margin: 0 auto;
  margin-top: 16; 
}


#podaci{
  text-align: left;
  font: 30;
  color: black;
}

#naziv h1{
  font-style: italic;
  color: #04619f;
}

#tabelaPoslovnica {
  margin-top: 1%;
  color:black;
  height: 90%;
}

#InfoProduktKartica {
  text-align: left;
  width: 50%;
  padding-top: 5%;
  float: left;
}

#divSlike {
  width: 30%;
  float: right;
}

#slikaPr {
  float:  left;
  width:  300%;
  height: 160px;
  background-size: cover;
}


#dodavanjePoslovniceButton {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10%;
}
